@page "/counter"
@rendermode InteractiveServer
@using ChrisADXTestbed.Web.Models

<PageTitle>Counters</PageTitle>

<h1>Counters</h1>

<p role="status">Current count: @_counter.CurrentCount</p>

<button class="btn btn-primary" @onclick="@Increment">Click me</button>

@code {
    private readonly Counter _counter = new Counter();

    void Increment() => _counter.IncrementCount();
}
